
/* Default Tags */

a {
    color: white;
    text-decoration: none;
}

textarea {
    min-height: 400px;
}

body {
    margin: 0px;
    margin-top: 0px;
    background-color: rgb(37, 37, 37);
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid gray;
}

h1 {
    color: white;
}

#compose-icon {
    width: 40px;
    height: 40px;
    margin-left: 13px;
    margin-top: 5px;
}

#user-profile-icon {
    width: 50px;
    float: left;
}

/* Buttons */

#compose-text {
    margin-top: 17px;
}

#compose {
    margin-top: 20px;
    background-color: white;
    color: black;
    width: 140px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

#compose:hover {
    box-shadow: 2px 2px 10px black;
}

#inbox, #sent, #archive {
    width: 90%;
    background-color: rgb(71, 71, 71);
    border: 0px;
    float: right;
    padding: 0px;
    font-size: large;
    height: 30px;
    padding-left: 5px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    margin-left: 20px;
    color: white;
    text-align: left;
}

#inbox:hover, #sent:hover, #archive:hover{
    background-color: rgb(121, 121, 121);
    cursor: pointer;
}

#inbox:focus, #sent:focus, #archive:focus {
    outline: none;
    border: 0px;
}

#side-inbox-div, #side-sent-div, #side-archive-div {
    margin-top: 10px;
    display: flex;
    margin-bottom: 10px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    margin-right: 10px;
}

#side-archive-div {
    margin-bottom: 18px;
}

#side-inbox-div:hover, #side-sent-div:hover, #side-archive-div:hover {
    background-color: rgb(121, 121, 121);
}
#login-register-button {
    width: 50%;
    height: 40px;
    margin-top: 30px;
    border-radius: 15px;
    border: 0px;
}

#login-register-button:hover {
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}

#login-register-button:focus {
    outline: none;
    border: 0px;
}

#logout-button {
    background-color: white;
    margin-left: 35px;
    color: red;
    height: 20px;
    width: 150px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    padding: 2px;
    border-radius: 10px;
    border: 0px;
}

#logout-button:hover {
    background-color: rgb(255, 24, 24);
    color: white;
}


.reply_button, .archive_button {
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    vertical-align: middle;
    font-size: medium;
    border: 1px solid black;
    border-radius: 10px;
    height: 24px;
}

.archive_button {
    margin-left: auto;
}

.reply_button:hover, .archive_button:hover {
    cursor: pointer;
}

.reply_button:hover {
    color: green;
    border: 1px solid green;
}

.archive_button:hover {
    color: rgb(156, 90, 4);
    border: 1px solid rgb(255, 187, 0);
}





.navigation-buttons {
    border: 0px;
    background-color: transparent;
    height: 30px;
    margin-right: auto;
    margin-left: 20px;
    color: white;
    font-size: medium;
    margin-bottom: 10px;
}

.navigation-buttons:hover, .navigation-buttons:focus {
    cursor: pointer;
    background-color:rgb(46, 46, 46);
    box-shadow: inset 1px 1px 5px black;
    border: 0px;
    outline: 0px;
}


/* Divs */

#box-heading {
    color: white;
    margin-left: 285px;
    padding-right: 30px;
    vertical-align: center;
    display: table;
    height: 100px;
}

#box-title {
    float: left;
    margin-top: 15px;
    font-size: larger;
}

#body-field-div, #from-field-div, #subject-field-div, #to-field-div {
    border-bottom: 0.8px solid rgb(141, 141, 141);
}

#body-field-div {
    border: 0px;
    height: 60vh;
}

.body-field {
    background-color: rgb(71, 71, 71);
    border: 0px;
    color: white;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.body-field::placeholder, .subject-field::placeholder {
    color: rgb(196, 196, 196);
}

.body-field:focus, .to-field:focus, .subject-field:focus {
    outline: none;
    border: 0px;
}

#compose-submit-button {
    margin-top: 20px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 0px;
    margin-bottom: 5px;
    margin-left: 10px;
}

#compose-submit-button:hover {
    cursor: pointer;
    background-color: blue;
    color: white
}

#compose-submit-button:focus {
    outline: none;
    border: 0px;
}

#compose-view {
    margin-top: 20px;
    color: rgb(196, 196, 196);
    background-color: rgb(71, 71, 71);
    width: 50%;
    height: fit-content;
    padding: 10px;
    padding-top: 5px;
    margin-right: auto;
    margin-left: auto;
}
#current-user {
    float: right;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
}

.from-field, .subject-field, .to-field {
    background-color: rgb(71, 71, 71);
    border: 0px;
    color: white;
    height: 40px;
    width: 90%;
    font-size: large;
}

.inbox-mail-div {
    color: white;
    display: flex;
    flex-direction: row;
    padding-right: 8px;
    width: 98%;
    background-color: rgb(71, 71, 71);
    border-bottom: 0.5px solid rgb(55, 55, 55);
    border-top: 0.5px solid rgb(55, 55, 55);
}


.sender-div, .subject-div, .timestamp-div, .mail-body-div {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    overflow: hidden;
    height: 20px;
}

.sender-div {
    font-weight: bold;
}



.mail-body-div {
    margin-left: 10px;
    color: rgb(214, 214, 214);
    overflow: hidden;
    max-width: 45%;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#login-form, #register-form {
    display: flex;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    background-color: rgb(71, 71, 71);
    height: 500px;
    margin-top: 100px;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 8px black;
    flex-direction: column;
}

#mail-archive-button {
    margin-left: 50px;
    margin-top: 20px;
}
#mail-body-div {
    color: white;
    border-top: 0.8px solid rgb(73, 73, 73);
    border-bottom: 0.8px solid rgb(73, 73, 73);
    margin-left: 310px;
    margin-right: 40px;
    padding: 20px;
    font-size: large;
}

#mail-subject-div {
    color: white;
    margin-left: 310px;
    margin-right: 40px;
    border-top: 0.8px solid rgb(73, 73, 73);
    border-bottom: 0.8px solid rgb(73, 73, 73);
}

#mail-info-div {
    color: rgb(202, 202, 202);
    margin-left: 340px;
}

#mail-title {
    margin-top: 20px;
    margin-left: 25px;
}

#register-form {
    width: 22%;
    height: 550px;
}


#login-register-email, #login-register-password, #register-email, #register-password {
    border: 2px solid rgb(204, 204, 204);
    background-color: rgb(71, 71, 71);
    border-radius: 7px;
    width: 95%;
    height: 32px;
    color: white;
    margin-top: 55px;
    margin-bottom: 20px;
}

#login-register-password {
    margin-top: 20px;
}

#login-register-email:focus, #login-register-password {
    outline: none;
    border: 2px solid rgb(204, 204, 204);
}

#login-register-email::placeholder, #login-register-password::placeholder{
    color: white;
}
#login-div {
    position: absolute;
}

#outer-mails-div {
    margin-left: 290px;
    margin-right: 25px;
}

.sender-div {
    width: 180px;
    margin-left: 8px;

}

@keyframes slide {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 100px;
    }
}


#mail-icon {
    width: 40px;
}

#inbox-icon, #archive-icon, #sent-icon {
    width: 25px;
    margin-left: 20px;
}


.sidebar-icons-div {
    float: left;
}

#side-panel {
    margin-right: 20px;
    width: 250px;
    display: flex;
    position: fixed;
    float: left;
    height: 102vh;
    margin-top: -20px;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgb(15, 15, 15);
    background-color: rgb(71, 71, 71);
}


.subject-div{
    margin-left: 50px;
    white-space: nowrap;
    max-width: 28%;
    height: 20px;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
}


.timestamp-div {
    margin-left: auto;
}
#user-info {
    padding: 15px;
    padding-top: 10px;
    color: white;
}

#username-image {
    margin-bottom: 40px;
}

#username-domain {
    margin-left: 60px;
}




/* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
