    {% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <p style="display: none" id="username">{{ request.user.email }}</p>
    <div id="side-panel">
        <div id="mail-title">
            <h1>Mail</h1>
        </div>
        <hr>
        <div class="navigation-buttons" id="compose">
            <img id="compose-icon" src="{% static 'mail/compose_icon.jpg' %}" alt=".">
            <div id="compose-text">Compose</div>
        </div>
        <button class="side-buttons" id="inbox">Inbox</button>
        <button class="side-buttons" id="sent">Sent</button>
        <button class="side-buttons" id="archived">Archived</button>
        <hr>
        <div>
            <p>Signed in as </p>
            <div>
                <img id="user-profile-icon" src="{% static 'mail/profile-icon.png' %}" alt="profile-icon"> 
                {{ request.user.email }}
            </div>
        </div>

    </div>
    <div id="box-heading">

    </div>
    <div id="outer-mails-div">
    <div id="emails-view">
    </div>
</div>

    <div id="view-single-mail">
    </div>

    <div id="compose-view">
        <h3 id="heading">New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}