    {% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <div id="side-panel">
        <h1 style="color: white;">Mail</h1>
        <h2>{{ request.user.email }}</h2>

        <button class="navigation-buttons" id="inbox">Inbox</button>
        <button class="navigation-buttons" id="compose">Compose</button>
        <button class="navigation-buttons" id="sent">Sent</button>
        <button class="navigation-buttons" id="archived">Archived</button>
        <a class="navigation-buttons" href="{% url 'logout' %}">Log Out</a>
        <hr>
    </div>
    <div id="box-heading"></div>
    <div id="outer-mails-div">
    <div id="emails-view">
    </div>
</div>

    <div id="view-single-mail">
    </div>

    <div id="compose-view">
        <h3 id="heading">New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}