    {% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <p style="display: none" id="username">{{ request.user.email }}</p>
    <div id="side-panel">
        <div id="mail-title">
            <div style="float: left; margin: 22px 10px 10px 0px;">
                <img id="mail-icon" src="{% static 'mail/mail_icon.png'%}" alt=".">
            </div>
            <h1>Mail</h1>
        </div>
        <hr>
        <div class="navigation-buttons" id="compose">
            <img id="compose-icon" src="{% static 'mail/compose_icon.jpg' %}" alt=".">
            <div id="compose-text">Compose</div>
        </div>
        <div id="side-inbox-div">
            <div class="sidebar-icons-div">
                <img id="inbox-icon" src="{% static 'mail/inbox_icon.png' %}" alt="."/>
            </div>
            <button id="inbox">Inbox</button>
        </div>
        <div id="side-sent-div">
            <div class="sidebar-icons-div">
                <img id="sent-icon" src="{% static 'mail/archive_icon.png' %}" alt="."/>
            </div>
            <button id="sent">Sent</button>
        </div>
        <div id="side-archive-div">
            <div class="sidebar-icons-div">
                <img id="archive-icon" src="{% static 'mail/archive_icon.png' %}" alt="."/>
            </div>
            <button id="archive">Archived</button>
        </div>
        <hr>
        <div id="user-info">
            <p style="color: white">Signed in as </p>
                <img id="user-profile-icon" src="{% static 'mail/profile-icon.png' %}" alt="profile-icon"> 
                <p id='username-domain'>
                    <strong style="font-size: 20px;">{{ username }}</strong><br>
                    <span style="color: rgb(184, 184, 184)">{{ domain }}</span>
                </p>
        </div>
        <a id="logout-button" href="{% url 'logout' %}">Log Out</a>
        <hr>
    </div>
    <div id="box-heading">
    </div>

    <div id="outer-mails-div">
        <div id="emails-view">
        </div>
    </div>

    <div id="view-single-mail">
    </div>
    <div id="action-buttons"></div>

    <div id="compose-view">
        <form id="compose-form">
            <div id="from-field-div">
                From: <input disabled class="from-field" value="{{ request.user.email }}">
            </div>
            <div id="to-field-div">
                To: <input id="compose-recipients" class="to-field">
            </div>
            <div id="subject-field-div">
                <input class="subject-field" id="compose-subject" placeholder="Subject">
            </div>
            <div id="body-field-div">
                <textarea class="body-field" id="compose-body" placeholder="Body"></textarea>
            </div>
            <input id="compose-submit-button" type="submit" value="Send" class="compose-"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}
