{% extends "mail/layout.html" %}

{% block body %}

    <div id="login-form">
        <div id="login-div">
            <div>
                <h1 style="margin-top: 40px;">Login</h1>
            </div>

            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div>
                    <input id="login-register-email" autofocus class="form-control" type="email" name="email" placeholder="Email">
                </div>
                <div>
                    <input id="login-register-password" class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <input id="login-register-button" class="btn btn-primary" type="submit" value="Login">
            </form>
            <div style="margin-top: 60px;"> 
                Don't have an account? <a href="{% url 'register' %}">Register here.</a>
            </div>
        </div>
    </div>


{% endblock %}